<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Primer Formulario -->
    <form action="/crear/">
        Nombre del archivo:
        <input name="nombre"> </input>
        </br>Contenido
        <textarea name="contenido"></textarea>
        </br>
        <button>Crear</button>
    </form>
    <!-- Segundo Formulario -->
    <form action="/leer">
        Nombre del archivo: <input name="nombre" /> <br />
        <button>Leer</button>
    </form>
    <!-- Tercer Formulario -->
    <form action="/renombrar">
        Nombre del archivo: <input name="nombre" /> <br />
        Nuevo nombre del archivo: <input name="nuevonombre" /> <br />
        <button>Renombrar</button>
    </form>
    <!-- Cuarto Formulario -->
    <form action="/eliminar">
        Nombre del archivo: <input name="nombre" /> <br />
        <button>eliminar</button>
    </form>

</body>

</html>